/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;
}

/* head related style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    margin: 197px 97px 147px 240px;
}

.banner .profile-pic {
    width: 635px;
    height: 70vh;
    flex-shrink: 0;
    margin: 50px 240px 0px 97px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* common button style */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
}

/*main section style*/
main{

}
.common {
    text-align: center;
}

.common-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0%;
}

.common-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.container{
  display: flex;
  margin: 0px 240px 0px 500px;
}
.flower{
    padding: 30px;
    gap: 24px;

}


.pink-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

.red-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.yolo-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}