/*common shared style*/
body {
    font-family: 'Open Sans', sans-serif;
}

/* head related style */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    margin: 197px 97px 147px 240px;
}

.banner .profile-pic {
    width: 635px;
    height: 70vh;
    flex-shrink: 0;
    margin: 50px 240px 0px 97px;
}

.banner-title {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* common button style */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
}

/*main section style*/

.common {
    text-align: center;
}

.common-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0%;
}

.common-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.container {
    display: flex;
    margin: 0px 240px 0px 500px;
}

.flower {
    padding: 30px;
    gap: 24px;

}

.pink-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

.red-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

.yolo-flower {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}

.container-two {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin: 128px 240px 0px 300px;
}

.service {
    padding: 86px 232px 146px 317px;
    gap: 24px;
}


/*hot deal style */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-content {
    padding: 100px 430px 100px 450px;
    display: flex;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;
    justify-content: space-between;
}

.off {
    color: #E55473;
}

.insta {
    text-align: center;
}

.last-flower {
    display: flex;
    margin: 0px 240px 0px 500px;
}

.pink-rose {
    margin-right: 24px;
}

.mix-rose {
    margin-right: 24px;
}

.cup-rose {
    margin-right: 24px;
}


/* background image */
.bg-img {
    border-radius: 8px;
    background-image: url('../images/Rectangle\ 9.png');
    width: 1490px;
    height: 449px;
    margin: 128px 140px 128px 510px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.bg-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 500px 0px 500px
}

.bg-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    ;
    padding: 0px 580px 48px 580px;
}

.search-bar input {
    display: inline;
}

.email-text {
    background: #FFF;
    width: 700px;
    height: 64px;
    margin: 0px 0px 121px 287px;
    color: rgba(39, 39, 39, 0.60);
    border: 0px;
}

.btn-submit {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 30px;
    margin-left: 0px;
}

/* footer style */
.flower-shop {
    text-align: center;
    background: #111010;
   
}
.last-h{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    padding-top: 128px;
    padding-bottom: 0px;
    
}
.last-p{
    color: #FFFFFFE5;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 128px;

}